
ML/data/test/angry/

ML/data/test/fear/

ML/data/test/happy/

ML/data/test/neutral/

ML/data/test/sad/

ML/data/test/surprise/

ML/data/train/angry/

ML/data/train/disgust/

ML/data/train/fear/

ML/data/train/happy/

ML/data/train/neutral/

ML/data/train/sad/

ML/data/train/surprise/

ML/data/test/disgust/

Backend/.env
